
{% extends 'base.html.twig' %}

{% block title %}Add New Author{% endblock %}

{% block body %}
    <h1>Add New Author</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name, 'Name') }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.surName, 'Surname') }}
        {{ form_widget(form.surName, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.yearOfBirth, 'Year of Birth') }}
        {{ form_widget(form.yearOfBirth, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.country, 'Country') }}
        {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
