<div class="mt-5">
    {% if authors %}
        <h5>Author List</h5>
        <table class="table">
            <thead>
            <tr>
                <th>FullName</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.name }} {{ author.surName }}</td>
                    <td>{{ author.yearOfBirth|date('d-m-Y')  }} </td>
                    <td>{{ author.email }} </td>
                    <td>{{ author.country.name }} </td>
                    <td>{{ author.phone }} </td>
                    <td><a href="{{ path('author_add_edit', {'id': author.id}) }}" class="btn btn-primary btn-block">Edit</a></td>
                    <td><a href="{{ path('author_delete', {'id': author.id}) }}" class="btn btn-danger btn-block">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are currently no authors available.
    {% endif %}
</div>
